#overlay{
    position: absolute;
    width: 100%;
    z-index: 10;
}

body{
    overflow: hidden;
}

img{
    width:100%;
  
    
}

video{
    width: 100% !important;
}

.videoDiv{
    
    transform: scaleX(-1);
}